:root {
    --namjoon: #183380;
    --dark: #242a41;
    --light-navy: #112970;
    --cobalt-two: #25439d;
    --white: #fff;
    --tealish: #20cdbb;
    --black-0: rgba(0, 0, 0, 0);
    --duck-egg-blue: #e4f9f6;
}
.header{
    height: 10%;
    width: 100%;
    background-color: var(--namjoon);
    display: flex;
    justify-content: space-between;
    align-items: center;
    .searchbar{
        display: flex;
        .logo{
        // position: absolute;
        height: auto;
        width: auto;
        max-width: 60px;
        margin: 0.5em 1em 0.5em 4em;
       }
       .search{
        // display: flex;
        width: 40%;
        .input{
            width: 25%;
            height:2%;
            border: none;
            outline: none;
            border-radius: 3px;
            /* opacity: 0.06; */
            // border-bottom: 2px solid #f7f8fa;
            margin-bottom: 1em;
            margin-top: 0.7em;
            position: absolute;
            top:1;

        }
        .tag{
            float: right;
            position: relative;
            left: 21em;
            right: 7em;
            top:1em;
            opacity: 0.6;
            margin-right:-2em;
            color: var(--dark);
        }
    }
    }
    .nav{
        margin: 0 5em;
    }
    li, a, input{
        color: white;
        font-size: 00.8em;
        margin: 0.1em;
        padding: 0.5em;
        text-decoration: none;
    }
    .label{
        margin: 0.5em;
        opacity: 0.7;
    }
    
}
.footer {
    background-color: #1c2646;
    height: 100%;
    display: flex;
    padding: 0 4em;
    bottom: 0;
    .copyright {
        float: left;
        width: 70%;      
        margin-right: 1em;
        margin-top: 0.5em;
        color: white;
        font-size: 0.8em;
        opacity: 0.7;
        font-family: 'Nunito Sans';
    }
    .social-icon {
        margin-right: auto;
        width: 30%;
        .fa {
            float: right;
            color: white;
            opacity: 0.7;
            margin: 0.5em 0.3em;
            font-size: 0.8em;
            padding-right: 1vw;
        }
    }
}
@media screen and (max-width: 750px) {
    .header {
        display: grid;
        .searchbar{
            display: flex;
            .logo {
                margin: 0.5em 1em 0.5em 1em;
                }
            .search{
                width: 80%;
                .input{
                    width: 65%;
                    height: 1%;
                    margin: 0.5em 1em 0 1em;
                }
                .tag{
                    float: right;
                    position: relative;
                    left: -4em;
                    right: 7em;
                    top: 1em;
                    opacity: 0.6;
                    margin-right: -2em;
                    color: var(--dark);
                }   
            }
        }
        .nav{
            margin: 0.5em 1em;
            li, a, input{
                color: white;
                font-size: 00.8em;
                margin: 0.1em;
                padding: 0.3em;
                text-decoration: none;
            }
            .label{
                margin: 0.5em;
                opacity: 0.7;
            }
        }
    }
    .footer{
        padding: 0 2em;
    }
}