:root {
    --namjoon: #183380;
    --dark: #242a41;
    --light-navy: #112970;
    --cobalt-two: #25439d;
    --white: #fff;
    --tealish: #20cdbb;
    --black-0: rgba(0, 0, 0, 0);
    --duck-egg-blue: #e4f9f6;
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito sans', 'roboto';
    // font-size: 18px;
    // font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}
.body{
    height: 100%;
    min-height: calc(100vh - 18vh);
    background-color: #f7f8fa;
    // padding: 4em;
    .heading{
        display: flex;
        justify-content: space-between;
        margin: 1.5em 3em;
        .h3{
            font-size: 1.2em;
        }
        .h5{
            opacity: 0.6;
            font-size: 1em;
        }
    }
    .read{
        margin: 3em;
        opacity: 0.6;
    }
    .article__menu{
        float: right;
        position: relative;
        // left: -3em;
        right: 9%;
        bottom:61%;
        margin-right:-2em;
        color: var(--white);
    }
    a:hover{
        box-shadow: 0 0 10px rgb(158, 146, 146);
        
    }
    .interest-container{
        margin: 2em; 
    }
    .recomonded-articles{
        
        width: auto;
        padding: 1em 2em;
        &_bgcolor-primary{
            background-color: var(--duck-egg-blue);
        }
        &_bgcolor-secondery{
            background-color: #e5f2f8;
        }
        &__view-more{
            display: flex;
            justify-content: space-between;
            margin: 0.5em 2em;
            .rayft-articles{
                font-size: 1em;
                color: var(--tealish);
            }
            .view{
                font-size: 00.8em;
                opacity: 0.2;
                font-weight: 600;
            }
        }
    }
    .business-related{
        padding: 1em 1.4em;
        .business-label{
            display: flex;
            justify-content: space-between;
            margin: 2em 3em 0 3em;
            font-size: 1em;
            color: #b7bac2;
            .bold{
                font-weight: 800;
                color: var(--dark);
            }
            .fa{
                font-weight: 800;
                color: var(--dark);
            }
        }
 
    }
    .auther-profile{
            display: flex;
            justify-items: center;
            padding: 0em 1em;
            // background-color: var(--white);
            .auther{
                width: 22%;
                // width: auto;
                margin: 1em;
                border-radius: 3px;  
                background-color: var(--white);
                padding: 2em;
                 &__img{
                    width: 40%;
                    height: 50%;
                    margin: 0 5vw;
                }
                &__description{
                    font-family: 'Nunito Sans';
                    font-size: 1em;
                    opacity: 0.9;
                    font-weight:bold;
                    line-height: 1.35;
                    color: var(--dark);
                    text-align: center;
                }
                &__sub-detail{
                    display: flex;
                    justify-content: space-between;
                    opacity: 0.6;
                    font-size: 0.7em;
                    font-weight: 600;
                    // font-stretch: normal;
                    // font-style: normal;
                    // line-height: normal;
                    // letter-spacing: normal;
                    color: var(--dark);
                    padding: 0.5em 2em;
                    .fa{
                        font-size: 0.4em;
                        // height: 50vh;
                        // width: 5vw;
                        margin: 0.7em;
                    }
                }
                &__follow{
                    border-color:  #51a8d1;;
                    background-color: var(--white);
                    color: #51a8d1;;
                    border-radius: 22em;
                    width: 50%;
                    height: 15%;
                    margin:0 4vw;

                }
            }
    }
    .marketing-related{
        padding: 1em 1.4em;
        .marketing-label{
            display: flex;
            justify-content: space-between;
            margin: 2em 3em 0 3em;
            font-size: 1em;
            color: #b7bac2;
            .bold{
                font-weight: 800;
                color: var(--dark);
            }
            .fa{
                font-weight: 800;
                color: var(--dark);
            }
        }
 
    }
}
@media screen and (max-width: 750px) {
    
    .body {
        min-height: calc(100vh - 14vh);
        .heading {
            margin: 1em;
            .h3 {
                font-size: 0.8em;
                margin: 0 1em 0 0;
              }
              .h5 {
                opacity: 0.6;
                font-size: 0.6em;
                margin-right: 1em;
              }
        }
        .read {
            margin: 0.9em;
            opacity: 0.6;
          }
        .container-of-article{
            // margin: 0.em;
            .article{
                margin: 0.5em;
                &__bookmark {
                    font-size: 7px;        
                    // height: 15%;
                    // width: 5%;
                }
                &__menu{
                    font-size: 8px;
                    top: -6.7em;
                    right: 3em;
                    &_side{
                        top: -5.7em;
                    }
                }
                &__price{
                    font-size: 0.4em;
                }
                &__img{
                    &_big{
                        width: 50vw;
                        height: 5vh;
                    }
                }
                &__description{
                    font-size: 00.5em;
                    font-weight: 700;
                    padding: 0.5em;
                }
                &__sub-detail{
                    font-size: 0.5em;
                    padding: 0 0.5em;
                }
            }
        }
        
        .business-related{
            // padding: 0.5em;
            .business-label{
                margin: 0.5em 1em 0.5em;
                font-size: 0.8em;
            }
        }
        .might-like{
            padding: 1em 0.5em;
            .might-like-images{
                padding: 0.5em 0.1em;
                .auther-detail{
                    width: 20%;
                    height: auto;
                    padding: 0.8em 0.3em;
                    margin: 0.3em;
                    .auther-img {
                        width: 60%;
                        height: 40%;
                        margin: 0.3em 1em;
                      }
                      .auther-description{
                          font-size: 0.7em;
                          margin: 0.2em 0;
                      }
                      .sub-detail{
                          font-size: 0.5em;
                          padding: 0.5em 0.5em;
                      }
                      .follow-auther{
                          width: 80%;
                          margin: 0.5em 0.6em;

                      }
                }
            }
        }
        .marketing-related{
            // padding: 0.5em;
            .marketing-label{
                margin: 0.5em 1em 0.5em;
                font-size: 0.8em;
            }
        }
    }
}