:root {
  --namjoon: #183380;
  --dark: #242a41;
  --light-navy: #112970;
  --cobalt-two: #25439d;
  --white: #fff;
  --tealish: #20cdbb;
  --black-0: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Nunito sans';
}

.header {
  height: 10%;
  width: 100%;
  background-color: var(--namjoon);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo {
  height: auto;
  width: auto;
  max-width: 60px;
  margin: 0.5em 1em 0.5em 4em;
}

.header .nav {
  margin: 0 5em;
}

.header li, .header a, .header input {
  color: white;
  font-size: 00.8em;
  margin: 0.1em;
  padding: 0.5em;
  text-decoration: none;
}

.header .label {
  margin: 0.5em;
  opacity: 0.7;
}

.header .search {
  width: 40%;
}

.header .search .input {
  width: 25%;
  height: 2%;
  border: none;
  outline: none;
  /* opacity: 0.06; */
  margin-bottom: 1em;
  margin-top: 0em;
  position: absolute;
  top: 1;
}

.header .search .tag {
  width: auto;
  opacity: 0.3;
}

.body {
  height: 100%;
  min-height: calc(100vh - 18vh);
}

.body .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1.5em 3em;
}

.body .heading .h3 {
  font-size: 1.2em;
}

.body .heading .h5 {
  opacity: 0.6;
  font-size: 1em;
}

.body .read {
  margin: 3em;
  opacity: 0.6;
}

.body .img-read {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2em;
}

.body .img-read .img-detail {
  width: 50%;
  width: auto;
  margin: 1em;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(77%, var(--black-0)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to right, var(--black-0) 77%, rgba(0, 0, 0, 0.3));
}

.body .img-read .img-click {
  width: 100%;
}

.body .img-read .img-description {
  font-family: 'Nunito Sans';
  font-size: 1.3em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: var(--dark);
  padding: 0.5em 1em;
}

.body .img-read .sub-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.6;
  font-size: 0.7em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  padding: 0.5em 2em;
}

.body .row-1 {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  padding: 0 3em;
}

.body .row-1 .img-detail {
  width: 33%;
  margin: 0.5em;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(77%, var(--black-0)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to right, var(--black-0) 77%, rgba(0, 0, 0, 0.3));
}

.body .row-1 .img-click {
  width: 100%;
}

.body .row-1 .img-description {
  font-family: 'Nunito Sans';
  font-size: 1.3em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: var(--dark);
  padding: 0.5em 1em;
}

.body .row-1 .sub-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.6;
  font-size: 0.7em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  padding: 0.5em 2em;
}

.body .row-2 {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body .row-2 .img-detail-1 {
  width: 60%;
  height: 100%;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(77%, var(--black-0)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to right, var(--black-0) 77%, rgba(0, 0, 0, 0.3));
}

.body .row-2 .img-detail-2 {
  width: 30%;
  height: 100%;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(77%, var(--black-0)), to(rgba(0, 0, 0, 0.3)));
  background-image: linear-gradient(to right, var(--black-0) 77%, rgba(0, 0, 0, 0.3));
}

.body .row-2 .img-click-1 {
  width: 100%;
  height: 40vh;
}

.body .row-2 .img-click-2 {
  width: 100%;
  height: 40vh;
}

.body .row-2 .img-description {
  font-family: 'Nunito Sans';
  font-size: 1.3em;
  font-weight: 800;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: var(--dark);
  padding: 0.5em 1em;
}

.body .row-2 .sub-detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  opacity: 0.6;
  font-size: 0.7em;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: var(--dark);
  padding: 0.5em 2em;
}
/*# sourceMappingURL=home_page.css.map */