:root {
  --namjoon: #183380;
  --dark: #242a41;
  --light-navy: #112970;
  --cobalt-two: #25439d;
  --white: #fff;
  --tealish: #20cdbb;
  --black-0: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f8fa;
  font-family: 'Nunito Sans';
}

.text-style {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: center; */
  font-family: 'Nunito Sans';
}

.login-main-body {
  height: 100%;
  min-height: calc(100vh - 18vh);
}

.login-main-body .heading {
  width: 100%;
  height: 5.4%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 1em;
  font-family: 'Nunito Sans';
  text-align: center;
  font-size: 1.6em;
  font-weight: 800;
  color: var(--dark);
}

.login-main-body .form {
  height: auto;
  width: 25%;
  border-radius: 4px;
  padding: 2em 3em;
  margin: auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

.login-main-body .form .label {
  width: 100%;
  height: 10%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 0.3;
  font-size: 0.8em;
  color: var(--dark);
  font-weight: bold;
}

.login-main-body .form .input {
  width: 100%;
  height: 10%;
  border: none;
  outline: none;
  /* opacity: 0.06; */
  border-bottom: 2px solid #f7f8fa;
  margin-bottom: 1em;
  margin-top: 1em;
}

.login-main-body .form .input:hover {
  border-bottom: 2px solid var(--tealish);
}

.login-main-body .form .pass_icon {
  width: auto;
  float: right;
  margin-left: 22vw;
  position: absolute;
  right: 1;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.3;
}

.login-main-body .form .error {
  color: red;
  font-size: 0.8em;
}

.login-main-body .form .loginbtn {
  width: 100%;
  height: 30%;
  border: none;
  background-color: var(--tealish);
  border-radius: 22.5px;
  color: var(--white);
  font-size: 0.9em;
  padding: 0.5em 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: bold;
}

.login-main-body .form .forgotdiv {
  text-align: center;
}

.login-main-body .form .forgotdiv .forgot-label {
  width: 100%;
  height: 10%;
  line-height: 1.43;
  font-size: 0.8em;
  color: #51a8d1;
  border-bottom: none;
  text-decoration: none;
}

.login-main-body .sign-up {
  text-align: center;
  margin-top: 2em;
}

.login-main-body .sign-up .text {
  /* margin-left: 8vw; */
  opacity: 0.3;
  line-height: 1.43;
  font-size: 0.8em;
  color: var(--dark);
}

.login-main-body .sign-up .link {
  font-size: 0.8em;
  line-height: 1.43;
  color: #51a8d1;
  text-decoration: none;
}

@media screen and (max-width: 750px) {
  .login-header .logo {
    margin: 0.5em 1em 0.5em 1em;
  }
  .login-main-body {
    min-height: calc(100vh - 14vh);
  }
  .login-main-body .form {
    width: 53%;
  }
  .login-main-body .sign-up .text {
    width: 56%;
  }
  .login-main-body .sign-up .link {
    width: 35%;
  }
  .login-main-body .form .pass_icon {
    margin-left: 45vw;
  }
  .main-footer {
    padding: 0 2em;
  }
}
/*# sourceMappingURL=login.css.map */