:root {
  --namjoon: #183380;
  --dark: #242a41;
  --light-navy: #112970;
  --cobalt-two: #25439d;
  --white: #fff;
  --tealish: #20cdbb;
  --black-0: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  padding: 0;
}

header {
  height: 10%;
  width: 100%;
  background-color: var(--namjoon);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__logo {
  position: absolute;
  height: auto;
  width: auto;
  max-width: 60px;
  margin: 0.5em 1em 0.5em 1em;
}

header .login {
  width: 100%;
  text-align: center;
  color: white;
  margin: 0.5em 0em 0.5em 0em;
  font-size: 0.9em;
  font-weight: 800;
  color: var(--white);
}

.text-style {
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  /* text-align: center; */
  font-family: 'Nunito Sans';
}

main {
  height: 100%;
  min-height: calc(100vh - 18vh);
}

main .main__login-heading {
  width: 100%;
  height: 5.4%;
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: 'Nunito Sans';
  text-align: center;
  font-size: 2em;
  font-weight: 800;
  color: var(--dark);
}

main .main__container {
  height: auto;
  width: 25%;
  border-radius: 4px;
  padding: 2em 2em;
  margin: auto;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  background-color: var(--white);
}

main .container__label-email {
  width: 100%;
  height: 10%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 0.3;
  font-size: 1em;
  color: var(--dark);
}

main .container__input-email {
  width: 100%;
  height: 10%;
  border: none;
  outline: none;
  /* opacity: 0.06; */
  border-bottom: 2px solid #f7f8fa;
  margin-bottom: 1em;
}

main .container__label-pass {
  width: 100%;
  height: 10%;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  opacity: 0.3;
  font-size: 1em;
  color: var(--dark);
}

main .password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container__input-pass {
  width: 100%;
  height: 10%;
  border: none;
  outline: none;
  opacity: 0.06;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
}

main .icon {
  width: 20%;
  float: right;
  margin-left: 22vw;
  position: absolute;
  right: 1;
  -o-object-fit: contain;
     object-fit: contain;
  opacity: 0.3;
}

main .container__loginbtn {
  width: 100%;
  height: 30%;
  border: none;
  background-color: var(--tealish);
  border-radius: 22.5px;
  color: white;
  font-size: 1em;
  padding: 0.5em 0.5em;
  margin-top: 1em;
  margin-bottom: 1em;
}

main .container__forgotdiv {
  text-align: center;
}

main .container__forgotdiv .container__forgotdiv_forgot-label {
  width: 100%;
  height: 10%;
  line-height: 1.43;
  font-size: 0.8em;
  color: #51a8d1;
  border-bottom: none;
  text-decoration: none;
}

main .container__sign-up {
  text-align: center;
  margin-top: 2em;
}

main .container__sign-up .container__sign-up_text {
  /* margin-left: 8vw; */
  opacity: 0.3;
  line-height: 1.43;
  font-size: 0.9em;
  color: var(--dark);
}

main .container__sign-up .container__sign-up_link {
  font-size: 0.9em;
  line-height: 1.43;
  color: #51a8d1;
  text-decoration: none;
}

footer {
  background-color: #1c2646;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 4em;
  bottom: 0;
}

footer .footer__copyright {
  float: left;
  width: 70%;
  margin-right: 1em;
  margin-top: 0.5em;
  color: white;
  font-size: 0.8em;
  opacity: 0.7;
}

footer .footer__social-icon {
  margin-right: auto;
  width: 30%;
}

footer .footer__social-icon .fa {
  float: right;
  color: white;
  opacity: 0.7;
  margin: 0.5em 0.5em;
  font-size: 00.8em;
  padding-right: 1vw;
}

@media screen and (max-width: 750px) {
  main {
    min-height: calc(100vh - 15vh);
  }
  main .main__container {
    width: 53%;
  }
  main .container__sign-up_text {
    width: 56%;
  }
  main .container__sign-up_link {
    width: 35%;
  }
  main .icon {
    margin-left: 45vw;
  }
}
/*# sourceMappingURL=login.css.map */