:root {
    --namjoon: #183380;
  
    --dark: #242a41;
  
    --light-navy: #112970;
  
    --cobalt-two: #25439d;
  
    --white: #fff;
  
    --tealish: #20cdbb;
  
    --black-0: rgba(0, 0, 0, 0);
  
  }
  *{
    margin: 0;
    padding: 0;
}
.rectangle{
   /* background-color: #20cdbb; */
    background-image: linear-gradient(323deg, var(--light-navy) 108%, var(--cobalt-two) 34%);
    height: 100vh;
    width: 100vw; 
    padding: 2vh 2vw 2vh 2vw;
    box-sizing: border-box;
}
.span-1{
    width: 28vw;
    height: 18vh;
  
    margin: 27px 0px 3px 4px;
  
    font-family: 'Nunito Sans', sans-serif;
  
    font-size: 1.6em;
  
    font-weight: 800;
  
    font-stretch: normal;
  
    font-style: normal;
  

    line-height: 1.39;
  
    letter-spacing: normal;
  
    text-align: center;
  
    color: var(--white);
}
.rectangle-1{
    margin: auto;
    width:32%;
    height: 58%;
    padding: 1vh 4vw 2vh 4vw;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--namjoon);
    border-radius:0.5rem;

}

.rectangle-2{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    background-color: var(--tealish);
    color: whitesmoke;
    border-radius: 4rem;
    width: 75%;
    height: 50%;
    text-align: center;
    padding: 2vh 2vw 2vh 2vw;
    border: none;
    font-size: 1rem;
}
.rectangle-2s{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 3.5vw;
    margin-right: 3.5vw;
    background-color: #51a8d1;
    color: whitesmoke;
    border-radius: 4rem;
    width: 75%;
    height: 50%;
    text-align: center;
    padding: 2vh 2vw 2vh 2vw;
    border: none;
    font-size: 1rem;
}
.line{
    /* width: 45%; */
    border: solid 1px white;
    opacity: 0.5;
    margin: 1vh 1vw 1vh 1vw;
    width: 35%;
    height: 1%;
}
.logo{
    margin: auto;
    width: 23vw;
    width: 15vw;
    display: block;
    height: auto;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
    
}
img{
    width:100px;
}
.center{
    margin: 10px 0 6px 0;
    color: white;
    display: flex;
    opacity: 0.5;
    justify-content: center;
    /* background: red; */
}
li{
    display: inline;
}
footer{
    position: fixed;
    bottom: 0;
}
.footer{
    background-color: #1c2646;
    width: 100vw;
    height: 4.1%;
    margin-top: 5vh;
    box-sizing: border-box;
    text-align: left;

}
.footer .footer-left,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer .footer-left{
    width: 75%;
    text-align: left;
}
.footer .span-2{
    color: white;
    opacity: 0.8;
}
.footer .footer-right{
    text-align: right;
    display: inline-block;
    position: relative;
    color: white;
    left: 19vw;
}
/* .span-2{
    
    height: 4vh;
  
    opacity: 0.7;
  
    font-family: NunitoSans;
  
    font-size: 15px;
  
    font-weight: normal;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: normal;
  
    letter-spacing: normal;
  
    color: var(--white);
}
li{
    display: inline;
  
    color: white;
    opacity: 0.8;
} */
@media screen and (max-width: 500px) {
    .span-1 {
      font-size: 1rem;
      text-align: center;
    }
    .logo{
        margin: auto;
        width: 23vw;
        display: block;
        height: auto;
        align-items: center;
        padding-top: 7vh;
        padding-bottom: 1vh;

    }
  }
  @media screen and (max-height:1000px) {

      /* .rectangle{
          height: 100%;
      } */

    .rectangle-1{
        width: 30%;
        height: 58%;
    
        padding-bottom: 3vh;
        margin-top: 7vh;
    }
    .rectangle-2{
        width: 75%;
        height: 5%;
        margin-top: 0.5vh;
    }
    .rectangle-2s{
        width: 75%;
        height: 5%;
        margin-top: 0.5vh;
    }
  }
  
  .fa{
      color: white;
      opacity: 0.2;
      margin: 6px 2px 2px 2px;
  }

  .footer{
      
    display: flex;
    justify-content: space-around;

  }

  .white{
      color: white;
      opacity: 0.2;
      margin: 3px 300px 3px 0px;
  }
