:root {

    --namjoon: #183380;
  
    --dark: #242a41;
  
    --light-navy: #112970;
  
    --cobalt-two: #25439d;
  
    --white: #fff;
  
    --tealish: #20cdbb;
  
    --black-0: rgba(0, 0, 0, 0);
  
  }
  *{
    margin: 0;
    padding: 0;
}
.rectangle{
   /* background-color: #20cdbb; */
    background-image: linear-gradient(323deg, var(--light-navy) 108%, var(--cobalt-two) 34%);
    height: 100vh;
    width: 100vw; 
    padding: 2vh 2vw 2vh 2vw;
    box-sizing: border-box;
}


.span-1{
    width: 50vw;

    height: 50vh;
  
    margin: 0 0 3vh;
  
    font-family: NunitoSans;
  
    font-size: 1.8em;
  
    font-weight: 800;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: 1.39;
  
    letter-spacing: normal;
  
    text-align: center;
  
    color: var(--white);
}
.rectangle-1{
    margin: auto;
    width:40vw;
    height: 100vh;
    padding: 1vh 2vw 11vh 2vw;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    background-color: var(--namjoon);
   
}

.rectangle-2{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 6vw;
    margin-right: 6vw;
    background-color: var(--tealish);
    color: whitesmoke;
    border-radius: 4rem;
    width: 75vw;
    height: 50vh;
    text-align: center;
    padding: 1vh 2vw 1vh 2vw;
}
.rectangle-2s{
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-left: 6vw;
    margin-right: 6vw;
    background-color: #51a8d1;
    color: whitesmoke;
    border-radius: 4rem;
    width: 75%;
    height: 50%;
    text-align: center;
    padding: 1vh 2vw 1vh 2vw;
}

.line{
    /* width: 45%; */
    border: solid 1px white;
    opacity: 0.5;
    margin: 1vh 1vw 1vh 1vw;
    width: 35%;
    height: 1%;

}
.logo{
    margin: auto;
    width: 10vw;
    display: block;
    height: auto;
    align-items: center;
    padding-top: 2vh;
    padding-bottom: 1vh;
    
}
img{
    width:100px;
}
.center{
    color: white;
    display: flex;
    opacity: 0.5;
    justify-content: center;
    /* background: red; */
}
li{
    display: inline;
}
footer{
    position: fixed;
    bottom: 0;
}
.footer{
    background-color: #1c2646;
    width: 100vw;
    margin-top: 5vh;
    box-sizing: border-box;
    text-align: left;
}
.footer .footer-left,
.footer .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer .footer-left{
    width: 75%;
}
.footer .span-2{
    color: white;
    opacity: 0.8;
}
.footer .footer-right{
    text-align: right;
    display: inline-block;
    color: white;
}
/* .span-2{
    
    height: 4vh;
  
    opacity: 0.7;
  
    font-family: NunitoSans;
  
    font-size: 15px;
  
    font-weight: normal;
  
    font-stretch: normal;
  
    font-style: normal;
  
    line-height: normal;
  
    letter-spacing: normal;
  
    color: var(--white);
}
li{
    display: inline;
  
    color: white;
    opacity: 0.8;
} */
@media screen and (max-width: 500px) {
    .span-1 {
      font-size: 1rem;
      text-align: center;
    }
  }
  @media screen and (max-height:900px) {
    
    .rectangle-1{
        width: 50vw;
        height: 50vh;
        padding-bottom: 10vh;
    }
    .rectangle-2{
        width: 75%;
        height: 5%;
        margin-top: 0.5vh;
    }
  }
  
 



